<footer class="site-footer">
  <ul>
    <li>Tesla &copy; 2026</li>
    <li><a href="#">Privacy &amp; Legal</a></li>
    <li><a href="#">Vehicle Recalls</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Careers</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Locations</a></li>
  </ul>
</footer>
